<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <section id="seccion_principal">
      <h1><%= title %></h1>
      <img src="/images/imagen.jpg">      <!-- La ruta se busca desde la carpeta public -->
      <section id="seccion_news">
        <a href="/news">NEWS</a>     <!-- Ponemos la ruta de la url correspondiente -->
      </section>
    </section>
  </body>
</html>
