<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
    </header>
    <main>
      <img src="https://s03.s3c.es/imag/_v0/1200x655/4/a/6/bolsa-charts-istock.jpg">     
      <section id="seccion_noticias">
        <h2>Descubre nuestras noticias</h2>
        <a href="/news/0/4">CONTINUAR</a>   
        
      </section>
    </main>
  </body>
</html>
